SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"
DEV_SITE="<DEV_SITE>" # change to your dev site number. Ex: 1234

API_VERSION="<API_VERSION>"  # Ex: 2023-04

API_PORT="7420"
CMS_PORT="7421"

DB_HOST="localhost"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD="Dev1234567@#"
DB_NAME="product_labels_db"

DESTINATION_FOLDER=$HOME/BSS/product_labels