DEV_SITE="<DEV_SITE_ID>" # change to your random unique ID
USERNAME="<USERNAME>" # change to your own username 


# ---------DO NOT CHANGE BELOW THIS LINE---------#
CF_TUNNEL_NAME="dev-tunnel-${DEV_SITE}" 
CF_ZONE_ID="338e2b3d833b2849e689565dc9c76b4f"
CF_ZONE_NAME="mtuan.dev"
LOG_FILE="/var/log/local_migration.log"
DB_ROOT_PASSWORD="Dev1234567@#"
TAILSCALE_HOST="https://headscale.dev-bsscommerce.com:443"
TAILSCALE_AUTHKEY="7365f971fce6f3716403745b886e2c733dd0a8c99218e928"
VERSION="1.0.0"