SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"

API_VERSION="<API_VERSION>" #  Ex: 2023-04

MONGO_USER="dev"
MONGO_PASSWORD="Dev1234567@#"
MONGO_DB="mida"
MONGO_PORT="27017"
MONGO_HOST="localhost"
MONGO_SEED="1"
MONGO_AUTH_ADMIN="true" # disable this if mongo user not admin

RABBITMQ_USER="dev"
RABBITMQ_PASSWORD="Dev1234567"
RABBITMQ_PORT="5672"
RABBITMQ_HOST="127.0.0.1"

API_PORT="7720"
CMS_PORT="7721"
HM_PORT="7722"
RECORDER_PORT="7723"

DESTINATION_FOLDER=$HOME/BSS/mida