SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"
DEV_SITE="<DEV_SITE>" # change to your dev site number. Ex: 1234

API_VERSION="<API_VERSION>" #  Ex: 2023-04

MONGO_USER="root"
MONGO_PASSWORD="Dev1234567@#"
MONGO_DB="mida"
MONGO_PORT="27000"
MONGO_HOST="localhost"
MONGO_SEED="1"

RABBITMQ_USER="mida"
RABBITMQ_PASSWORD="Dev1234567@#"
RABBITMQ_PORT="5672"
RABBITMQ_HOST="127.0.0.1"

API_PORT="7720"
CMS_PORT="7721"
HM_PORT="7722"
RECORDER_PORT="7723"

DESTINATION_FOLDER=$HOME/BSS/mida
CF_ZONE_NAME="mtuan.dev" # do not change this