API_VERSION="<API_VERSION>" # Ex: 2023-04

API_PORT="7940"
CMS_PORT="7941"

DB_HOST="${MYSQL_HOST:-localhost}"
DB_PORT="${MYSQL_PORT:-3306}"
DB_USERNAME="${MYSQL_USERNAME:-root}"
DB_PASSWORD="${MYSQL_PASSWORD:-Dev1234567@#}"
DB_NAME="cms-admin_db"

DB_HOST_LOGIN="${MYSQL_HOST:-localhost}"
DB_PORT_LOGIN="${MYSQL_PORT:-3306}"
DB_USERNAME_LOGIN="${MYSQL_USERNAME:-root}"
DB_PASSWORD_LOGIN="${MYSQL_PASSWORD:-Dev1234567@#}"
DB_NAME_LOGIN="b2b_login_to_access"

DESTINATION_FOLDER=$HOME/BSS/cms-admin