SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"
DEV_SITE="<DEV_SITE>" # change to your dev site number. Ex: 1234

API_VERSION="<API_VERSION>"  # Ex: 2023-04

API_PORT="7320"
CMS_PORT="7321"
SHARE_PORT="7322"
STATIC_PORT="7323"

DB_HOST="localhost"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD="Dev1234567@#"
DB_NAME="bloop_db"

DESTINATION_FOLDER=$HOME/BSS/bloop
CF_ZONE_NAME="mtuan.dev" # do not change this