SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"

API_VERSION="<API_VERSION>" #  Ex: 2023-04

MONGO_USER="${MONOGO_USER:-dev}"
MONGO_PASSWORD="${MONGO_PASSWORD:-Dev1234567@#}"
MONGO_DB="${MONGO_DB:-dev}"
MONGO_PORT="${MONGO_PORT:-27017}"
MONGO_HOST="${MONGO_HOST:-localhost}"
MONGO_AUTH_ADMIN="${MONGO_AUTH_ADMIN:-true}" # set to false this if mongo user not admin
MONGO_SEED="1"

RABBITMQ_USER="${RABBITMQ_USER:-dev}"
RABBITMQ_PASSWORD="${RABBITMQ_PASSWORD:-Dev1234567}"
RABBITMQ_PORT="${RABBITMQ_PORT:-5672}"
RABBITMQ_HOST="${RABBITMQ_HOST:-localhost}"

REDIS_URL="redis://:${REDIS_PASSWORD:-Dev1234567}@${REDIS_HOST:-localhost}:${REDIS_PORT:-6379}"

API_PORT="7720"
CMS_PORT="7721"
HM_PORT="7722"
RECORDER_PORT="7723"

DESTINATION_FOLDER=$HOME/BSS/bloy