version: "3.9"
services:
  redis:
    image: bitnami/redis:latest
    container_name: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis-data:/bitnami/redis/data
    restart: always
    networks:
      - bss_dev
volumes:
  redis-data:
    driver: local
networks:
  bss_dev:
    driver: bridge