SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"

API_VERSION="<API_VERSION>"  # Ex: 2023-04

API_PORT="5020"
CMS_PORT="5021"
PROXY_PORT="5022"

DB_HOST="localhost"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD="Dev1234567@#"
DB_NAME="b2b_customer_portal"

DESTINATION_FOLDER=$HOME/BSS/b2b_customer_portal