SHOPIFY_API_KEY="<SHOPIFY_API_KEY>"
SHOPIFY_API_SECRET_KEY="<SHOPIFY_API_SECRET_KEY>"

API_VERSION="<API_VERSION>"  # Ex: 2023-04

API_PORT="7520"
CMS_PORT="7521"

DB_HOST="localhost"
DB_PORT="3300"
DB_USERNAME="root"
DB_PASSWORD="Dev1234567@#"
DB_NAME="product_option_db"

DESTINATION_FOLDER=$HOME/BSS/product_option